@use "@/styles/App.scss" as vars;

.items {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  gap: 1px;
}

.skeleton {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

@media (max-width: vars.$breakpoint-sm) {
  .items {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2px;
  }

  .skeleton {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
